body {
    overflow: hidden;
    width: 100%;
    background: #fff;
}

ul {
    padding: 0;
    margin: 0;
}

a,
strong {
    color: #FFF;
}

#preview {
    width: 100%;
}

#preview-bar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,458eea+50,2e87cf+100 */
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #458eea 50%, #2e87cf 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1e5799 0%, #458eea 50%, #2e87cf 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1e5799 0%, #458eea 50%, #2e87cf 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#2e87cf', GradientType=1);
    /* IE6-9 */
    min-width: 1170px;
}

#bar-inner {
    max-width: 1170px;
    margin: 0 auto;
    font-size: 20px;
    overflow: hidden;
    padding: 25px 0px;
    color: #ffffff;
}

#bar-inner li {
    list-style: none;
}

#bar-inner li .old-price {
    color: #ff0000;
}

.block {
    float: left;
    padding-left: 40px;
}

.block.tm-logo {
    border: none;
    margin-top: 5px;
    padding: 0;
}

#frame_controls.block.info {
    min-width: auto;
    padding-left: 40px;
}

.block.info {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    min-width: 330px;
    text-align: right;
    padding-left: 0px;
    line-height: 35px;
}
#preview-bar .block a.btn2 {
    min-width: 164px;
}
.block.info ul {
    max-width: 136px;
}

.buy {
    display: block;
    background: #c15252;
    width: 170px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 5px 0;
    outline: none;
    margin: 0 auto;
}

.buy:hover {
    background: #ecb0af;
}

span.old-price {
    text-decoration: line-through;
}

.price-cur {
    color: #c15252;
}

#fullscreen-preview #preview-wrapper .technical-problems {
    font-size: 24px;
    color: #808080;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
}

#fullscreen-preview #preview-wrapper .technical-problems a {
    color: #808080 !important;
    text-decoration: underline !important;
}

#fullscreen-preview #preview-wrapper .technical-problems .problems-message {
    color: #B6B6B6 !important;
}

.request-form-wrapper {
    width: 430px;
}

.request-form-wrapper .request-form-header {
    color: #ffffff;
    background: #c15252;
    font-size: 18px;
    text-align: center;
    padding: 22px 30px;
    position: relative;
}

.request-form-wrapper .request-form-header:after {
    content: '';
    position: absolute;
    bottom: -13px;
    left: 47%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 12.5px 0 12.5px;
    border-color: #c15252 transparent transparent transparent;
}

.request-form-wrapper .request-form-body {
    padding: 0 30px 26px;
}

.request-form-wrapper .request-form-body .request-form {
    min-height: 300px;
}

.request-form-wrapper .request-form-body .request-form .label {
    display: block;
    font-size: 15px;
    color: #4d4d4d;
    margin-top: 24px;
}

.request-form-wrapper .request-form-body .request-form label.notvalid {
    position: absolute;
    display: block;
    font-size: 13px;
    color: #c15252;
}

.request-form-wrapper .request-form-body .request-form .input {
    width: 100%;
    border: 1px solid #d5d5d5;
    padding: 8px 10px;
    outline: none;
    font-size: 13px;
    color: #b4b4b4;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.request-form-wrapper .request-form-body .request-form .send-button {
    border: none;
    padding: 10px 45px;
    margin-bottom: 23px;
    outline: none;
    font-size: 18px;
    color: #ffffff;
    background: #333333;
    border-radius: 4px;
    display: block;
    margin: 45px auto 0;
    cursor: pointer;
}

.request-form-wrapper .request-form-body .request-form .send-button:hover {
    background: #c15252;
}

.request-form-wrapper .request-form-body .request-form .form-answer {
    font-size: 15px;
    text-align: center;
    color: #4d4d4d;
    margin-top: 25px;
}

#close {
    font-size: 0;
    float: right;
    top: 0px;
    position: relative;
}

#close:before {
    content: '\f24c';
    position: absolute;
    font-family: "Material Design Icons";
    font-size: 22px;
    font-weight: 400;
    left: -20px;
    bottom: -7px;
}
/*responsive*/
@media only screen and (min-width: 768px) and (max-width: 995px) {
#preview-bar{min-width: 768px;}
#bar-inner {max-width: 768px;}
.block.info{min-width: 280px;}
}
@media only screen and (min-width: 996px) and (max-width:1199px ){
#preview-bar{min-width: 995px;}
#bar-inner {max-width: 995px;}
.block.info{min-width: 360px;}
#preview-bar .block a.btn2{margin-left: 45px;}
}